<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 photo">
        <img src="{{page.baseurl}}public/img/mor-border.jpg" alt="{{site.title}}" class="img-responsive img-halfscreen wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
      </div>
      <div class="col-md-6 col-sm-6 about-summary">
        <div class="about-text">
          <div class="section-title">
            <h3>{{site.title}}</h3>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="about-intro">Forward-thinking technologist who blends strategic vision with practical execution to deliver high-tech products and solutions. Distinct ability to translate insights into compelling strategies that drive growth and ensure client success.</p>
          <p>Recognized for identifying emerging trends, implementing new market initiatives, and driving go-to-market tactics. Functional experience spanning all disciplines, from ideation and development to marketing and optimization. Skilled at delivering product and marketing capabilities including:</p>
          <p>Strategic Planning, Competitive Intelligence, Business Cases, Product Definition, Product Roadmaps, Content Creation, Market Research, Value Propositions, Messaging, Launch Plans, Pricing, Requirements</p>
          <div class="about-social">
            <ul>
              <li><a href="{{site.links.email}}"><i class="fa fa-envelope"></i></a></li>
              <li><a href="{{site.links.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="{{site.links.github}}"><i class="fa fa-git"></i></a></li>
              <li><a href="{{site.links.twitter}}"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 skill">
        <h6 class="progress-title">Product Management</h6>
        <div data-progress="96" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">96</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Software Development</h6>
        <div data-progress="92" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">92</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Cloud Computing</h6>
        <div data-progress="94" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">94</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Product Marketing</h6>
        <div data-progress="88" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">88</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Digital Ecosystems</h6>
        <div data-progress="90" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">90</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Web Engineering</h6>
        <div data-progress="84" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">84</span>
            %
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
