<div class="holder">
  <div class="col-md-6 col-sm-6 wow fadeInUp">
    <i class="icon icon-briefcase"></i>
    <h2>Work Experience</h2>
    <p>Add something here</p>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Product Manager</h3>
      <p class="info-line"><span>Micro Focus</span>  /  2016 - Present</p>
      <p class="years">1 Year</p>
      <div class="divider"></div>
      <p>Developed product initiatives and strategies for Application, Mobile, and Virtualization solutions. Defined feature-functionality for release candidates, POVs, priorities, and roadmaps across core teams.</p>
    </article>
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Product Manager</h3>
      <p class="info-line"><span>Softlayer, an IBM Company</span>  /  2012 - 2016</p>
      <p class="years">4 Years</p>
      <div class="divider"></div>
      <p>CDrove new product creation from ideation to adoption for sophisticated cloud ecosystems and services. Outlined marketing investments against key competitors, steered courses for technology initiatives, and delivered product offerings to market.</p>
    </article>
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Senior Product Manager</h3>
      <p class="info-line"><span>Neopost</span>  /  2007 - 2012</p>
      <p class="years">5 Years</p>
      <div class="divider"></div>
      <p>Cultivated pipelines to new digital, e-commerce, and cloud-based markets. Researched market needs, designed product offerings, and drove the product vision, value proposition, messaging, and go-to-market planning for customer-facing products.</p>
    </article>
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Technical Product Manager</h3>
      <p class="info-line"><span>Neopost</span>  /  2003 - 2017</p>
      <p class="years">4 Years</p>
      <div class="divider"></div>
      <p>Orchestrated software releases, implementations, and launch efforts. Served as the technical interface between Software Development, Quality Assurance, and Release Management.</p>
    </article>
  </div>
</div>
